<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div>
   <ion-row>
     <ion-col size="12">
       <nz-input-group nzCompact nzSize="large">
         <input type="text" nzSize="large" nz-input #startPos  placeholder="Start Position" style="width: 70%" [(ngModel)]="pickUpText" (keydown.enter)="searchPickUp(startPos.value)" />
         <button nz-button nzType="primary" nzSize="large" (click)="getPickupLatLng()" style="width: 15%;">
           <i nz-icon nzType="aim" nzTheme="outline"></i>
         </button>
         <button nz-button nzType="primary" (click)="searchPickUp(startPos.value)" nzSize="large" style="width: 15%;">
           <i nz-icon nzType="search" nzTheme="outline"></i>
         </button>
       </nz-input-group>
     </ion-col>
   </ion-row>
    <ion-row>
      <ion-col size="12">
        <nz-input-group nzCompact nzSize="large">
          <input type="text" nzSize="large" nz-input #endPos (keydown.enter)="searchDest(endPos.value)" placeholder="End Position" style="width: 70%" [(ngModel)]="destinationText" />
          <button nz-button nzType="primary" nzSize="large" (click)="getDestinationLatLng()" style="width: 15%;">
            <i nz-icon nzType="aim" nzTheme="outline"></i>
          </button>
          <button nz-button nzType="primary" (click)="searchDest(endPos.value)" nzSize="large" style="width: 15%;">
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </button>
        </nz-input-group>
      </ion-col>
    </ion-row>
    <ion-button expand="full" (click)="mapRoute()" class="mt-1 font-weight-bold">ROUTE</ion-button>
  </div>
  <div class="shadow-lg places-drop" *ngIf="searchPickUpList.length > 0">
    <ion-item *ngFor="let item of searchPickUpList" (click)="setPickUp(item)">
      <ion-label>
        <h4 style="font-weight: bold">
          {{item.city}}
        </h4>
        <h6>
          {{item.place}}
        </h6>
      </ion-label>
    </ion-item>
  </div>
  <div class="shadow-lg places-drop" *ngIf="searchDestinationUpList.length > 0">
    <ion-item *ngFor="let item of searchDestinationUpList" (click)="setDest(item)">
      <ion-label>
        <h4 style="font-weight: bold">
          {{item.city}}
        </h4>
        <h6>
          {{item.place}}
        </h6>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
